## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
julia:
  - 0.6
  - 0.7
notifications:
  email: false
git:
  depth: 99999999

## allow failures (tests will run but not make your overall status red)
matrix:
 allow_failures:
   - julia: 0.7

## uncomment the following lines to override the default test script
script:
 - julia -e 'VERSION >= v"0.7-" && using Pkg;
             VERSION >= v"0.7-" && Pkg.develop("LazySets");
             Pkg.clone(pwd());
             VERSION < v"0.7-" && Pkg.checkout("LazySets");
             Pkg.build("Reachability");
             Pkg.test("Reachability"; coverage=true)'
after_success:
  - julia -e 'Pkg.add("Documenter")'
  - julia -e 'cd(Pkg.dir("Reachability")); include(joinpath("docs", "make.jl"))'
  # code coverage (for both Coveralls and Codecov)
  - julia -e 'Pkg.add("Coverage")'
  # push coverage results to Coveralls
  - julia -e 'cd(Pkg.dir("Reachability")); using Coverage; Coveralls.submit(Coveralls.process_folder())'
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("Reachability")); using Coverage; Codecov.submit(Codecov.process_folder())'
